/// PAGINATION
$pagination-color :#000000;
$pagination-hover-color:#000000;
$pagination-focus-color:#000000;
$pagination-active-color: #ffff;
$pagination-active-bg: #000000;
$pagination-active-border-color: #000000;

//// BUTTON
$btn-border-radius:0;
$btn-close-focus-shadow: 0 0 0 0.25rem black;

// BORDER
$border-radius:0;
$input-border-color:#000;

/// DROPDOWN
$dropdown-border-radius: 0;