<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/clipboard-js/dist/clipboard.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">

    <meta name="description"
          content="{{ if .IsHome }}Konten blog dari Indonesia{{ else }}{{.Description }}{{ end }}">

    <meta name="author"
          content="{{ if .Params.author.name }}{{ .Params.author.name }}{{ else }}None{{ end }}">


    <title>
        {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}
    </title>

</head>