{{ define "main" }}
<div class="container-fluid">
    <div class="d-flex flex-wrap gap-4 justify-content-center py-4">

        {{ range .Site.RegularPages }}
        {{ if eq .Section "blog" }}
        <div class="card-landscape">
            <figure class="" style="margin-bottom: 0 !important;">
                <img src="/thumbnail/{{ .Params.thumbnail | default "knowledge" }}.webp"
                class="card-img-top img-fluid border" alt="{{ .Title }}">
            </figure>
            <div class="card-landscape-body">
                <a href="{{ .RelPermalink }}" class="link-card">
                    <h5 class="card-landscape-title">{{ .Title }}</h5>
                    <p class="card-text">Tanggal: <span class="card-landscape-date">{{ .Date.Format "2006-01-02" }}</span></p>
                </a>
            </div>
        </div>
        {{ end }}
        {{ end }}

    </div>
</div>
{{ end }}
