{{ define "main" }}
<div class="container-fluid">
    <div class="d-flex flex-wrap gap-4 justify-content-center py-4">

        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog") }}
        {{ range $paginator.Pages }}
        <div class="card-landscape">
            <figure class="" style="margin-bottom: 0 !important;">
                <img src="/thumbnail/{{ .Params.thumbnail | default "knowledge" }}.webp"
                class="card-img-top img-fluid border" alt="{{ .Title }}">
            </figure>
            <div class="card-landscape-body">
                <a href="{{ .RelPermalink }}" class="link-card">
                    <span class="card-text">Tanggal: <span class="card-landscape-date">{{ .Date.Format "2 Jan 2006" }}</span></span>
                    <h5 class="card-landscape-title">{{ .Title }}</h5>
                </a>
            </div>
        </div>
        {{ end }}

    </div>

    <div class="pagination">
        {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}">Previous</a>
        {{ end }}
        {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}">Next</a>
        {{ end }}
    </div>
</div>
{{ end }}
